@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 91%;
    --foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    --themeblue: 225 22% 22%;
  }

  .dark {
    --background: 0 10% 50.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;

    --themeblue: 225 22% 22%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.smooth-transition {
  @apply transition-all duration-300 ease-in-out;
}

.red-hover {
  @apply hover:text-red-900 cursor-pointer hover:duration-300 transition-all hover:scale-95;
}

.instagram-gradient {
  @apply bg-gradient-to-r from-[#833ab4] via-[#fd1d1d] to-[#fcb045];
}

.facebook-gradient {
  @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff];
}

.youtube-gradient {
  @apply bg-gradient-to-r from-[#e52d27] to-[#b31217];
}

.social-media-icon {
  @apply rounded-full hover:py-3 cursor-pointer hover:bg-neutral-500 duration-300 hover:text-black;
}

.gradient {
  @apply bg-gradient-to-r from-[#b8bcc8]/90 via-[#6b4554]/90 to-[#4c4a57]/90;
}
